@media (min-width: 768px){
  #header #logo h1 {
    font-size: 28px;
  }
  #header #logo img {
    max-height: 40px;
  }
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
  }
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}


@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
  #mobile-nav-toggle {
      display: inline;
  }
  .back-to-top {
    bottom: 15px;
  }
  #header #logo h1 {
    font-size: 28px;
  }
  #header #logo img {
    max-height: 40px;
  }
  #intro h2 {
    font-size: 28px;
  }
}
