<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TingleDEX</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="https://rawgit.com/mfd/f0f081688ec24e60ba9bbd93786af530/raw/6504171fdb99de094057a09817497c7d76f67540/stratos.css" rel="stylesheet" media="all">

  <!-- Main Stylesheet File -->
  <link href="stylepre-ico.css" rel="stylesheet">

    <title>Tingle DEX</title>
</head>

<body>
<div class="bkg">
    <div class="mainContainer">
        <div class="titleContainer">
            <a class="titletext">
                Tingle DEX
            </a>
        </div>
        <div class="statusContainer">
            Let's Tingle soon.
            <br>Stay updated with the latest information:
        </div>
        <div class="submitContainer">
            <form>
                <input class="emailText" type="email" name="email" value placeholder="Enter your email address..." data-original-placeholder="Enter your email address...">
                <input type="button" class="button" value="Subscribe">
            </form>
        </div>
    </div>
</div>
</body>

</html>
